// variables
$bgcolor: #f2f2f2;
$font-family: "Inter", sans-serif;
$secondary-color: #202121;
// mixins
@mixin texto-foto ($margin, $width, $line-height, $font-size, $text-align){ 
    margin: $margin;
    width: $width;
    line-height: $line-height;
    font-size: $font-size;
    text-align: $text-align; 
}

@mixin img-texto ($width, $height, $bg-size) {
    width: $width;
    height: $height;
    background-size: $bg-size;
}
