// variables
$bgcolor: #f2f2f2;
$font-family: "Inter", sans-serif;
$secondary-color: #202121;
// mixins
@mixin alto-ancho($height, $width){
    height: $height;
    width: $width;
}
@mixin texto-foto ($margin, $width, $line-height, $font-size, $text-align, $padding){ 
    margin: $margin;
    width: $width;
    line-height: $line-height;
    font-size: $font-size;
    text-align: $text-align; 
    padding: $padding;
}
@mixin img-texto ($width, $height, $bg-size) {
    width: $width;
    height: $height;
    background-size: $bg-size;
}
// maps
$estilos-cards:(
    'alto': 370px,
    'ancho': 100%,
    'display': flex,
    'mb': 50px,
    'jc': space-evenly,
)

